In [9]:
std1="enter ALISHBA DETAILS"
std2="enter ALISHBA KHAN DETAILS"
std3="enter AFSAN DETAILS"
std4="enter SAMAN DETAILS"
std5="enter ALISHBA AHMED DETAILSF"
for _ in range(10):
  std1=str(input("enter student full name"))
  std2=str(input("enter college name"))
  std3=str(input("enter student dob [dd/mm/yy]"))
  std4=float(input("enter student percentage"))
  std5=str(input("enter student GRADE [A*,A,B,C,D,F]"))

enter student full nameALISHBA
enter college nameAKHSS
enter student dob [dd/mm/yy]11 AUG 2005
enter student percentage90
enter student GRADE [A*,A,B,C,D,F]A
enter student full nameALISHBA KHAN
enter college nameSHEIKH Z
enter student dob [dd/mm/yy]12 NOV 2004
enter student percentage80
enter student GRADE [A*,A,B,C,D,F]A
enter student full nameSAMAN
enter college nameAA
enter student dob [dd/mm/yy]22 SEP 2005
enter student percentage80
enter student GRADE [A*,A,B,C,D,F]A
enter student full nameALISHBA KHAN
enter college nameHH
enter student dob [dd/mm/yy]10 AUG 2993
enter student percentage80
enter student GRADE [A*,A,B,C,D,F]B
enter student full nameAFSAN
enter college nameSIR SYED COLLEGE
enter student dob [dd/mm/yy]4 JAN 2004
enter student percentage90
enter student GRADE [A*,A,B,C,D,F]A
enter student full nameNARGIS
enter college nameK
enter student dob [dd/mm/yy]6 SEP 20003
enter student percentage80
enter student GRADE [A*,A,B,C,D,F]A
enter student full nameMADIHA
enter college nameI
enter student dob [dd/mm/yy]7 AUG 2004
enter student percentage80
enter student GRADE [A*,A,B,C,D,F]S
enter student full nameMANAAL
enter college nameAKHSS
enter student dob [dd/mm/yy]8 AUG 2003
enter student percentage80
enter student GRADE [A*,A,B,C,D,F]A
enter student full nameALINA
enter college nameAKHSS
enter student dob [dd/mm/yy]8 SEP 2993
enter student percentage80
enter student GRADE [A*,A,B,C,D,F]A
enter student full nameEASHA
enter college nameK
enter student dob [dd/mm/yy]8 SEP 2004
enter student percentage60
enter student GRADE [A*,A,B,C,D,F]A

In [11]:
for _ in range(5):
  std1=float(input("enter percentages"))

enter percentages80
enter percentages60
enter percentages40
enter percentages90
enter percentages60

In [14]:
for _ in range(5):
  std=int(input("enter age"))

  if std>=18:
    print("elligible")

  else:
    print("not elligible")

enter age18
elligible
enter age2
not elligible
enter age8
not elligible
enter age26
elligible
enter age8
not elligible

In [19]:
clg1=str(input("cld 1 name"))
clg2=str(input("cld 2 name"))
clg3=str(input("cld 3 name"))
clg4=str(input("cld 4 name"))
clg5=str(input("cld 5 name"))

cld 1 nameakhss
cld 2 namesir syed
cld 3 namesheikh k
cld 4 nameiu
cld 5 namedsu

In [20]:
nam1=str(input("name 1"))
nam2=str(input("name 2"))
nam3=str(input("name 3"))
nam4=str(input("name 4"))
nam5=str(input("name 5"))

name 1alishba iqbal
name 2afsan
name 3alishba khan
name 4saman
name 5alishba ahmed

In [24]:
std_data=(input("enter a name"))
if (std_data=="alishba iqbal") or  (std_data=="alishba iqbal khan") or  (std_data=="ALISHBA"):
  print(nam1,clg1)

enter a namealishba iqbal
alishba iqbal akhss

In [31]:
print("------------WELCOME TO DARAZ----------")
print("login or sign up")
str1=str(input("enter your name please"))
str2=str(input("enter your email"))
int1=int(input("enter your number"))
str3=str(input("enter your country"))
print("first catagory has folowing items : \n iphone10 \n iphone12 \n android40 \n straightner \n air fry \n second catagory has following items: \n sheet mask \n soap \n balm \n green gloss \n aloevera \n the catagory three has following items: \n burger \n pizza \n roll \n ice cream \n mnms ")
catagory_1_electronics=str(input("enter first catagory product or press enter if u dont want to purchase from here"))
catagory_2_beauty=str(input("enter this catagory product or press enter if u dont want to purchase from here"))
catagory_3_food=str(input("enter this catagory product or press enter if u dont want to purchase from here"))
if(catagory_1_electronics=="iphone12" or catagory_1_electronics=="air fry" or catagory_1_electronics=="iphone10" or catagory_1_electronics=="android40"or catagory_1_electronics=="straightner" or catagory_2_beauty=="soap" or catagory_2_beauty=="sheet mask" or catagory_2_beauty=="balm" or catagory_2_beauty==" green gloss"or catagory_2_beauty=="aloevera" or catagory_3_food=="burger" or catagory_3_food=="pizza" or catagory_3_food=="roll" or catagory_3_food=="ice cream" or catagory_3_food=="mnms"):
  print("you have purchased your chosen item")
print("------------THANKYOU FOR PURCHASING FROM DARAZ----------")
print("the item has been purchased by: ", str1)
print("leave a review")

------------WELCOME TO DARAZ----------
login or sign up
enter your name pleasealishba
enter your emailalishba@
enter your number0300
enter your countryp
first catagory has folowing items :
 iphone10
 iphone12
 android40
 straightner
 air fry
 second catagory has following items:
 sheet mask
 soap
 balm
 green gloss
 aloevera
 the catagory three has following items:
 burger
 pizza
 roll
 ice cream
 mnms
enter first catagory product or press enter if u dont want to purchase from here
enter this catagory product or press enter if u dont want to purchase from here
enter this catagory product or press enter if u dont want to purchase from herepizza
you have purchased your chosen item
------------THANKYOU FOR PURCHASING FROM DARAZ----------
the item has been purchased by:  alishba
leave a review

In [50]:
print("you have two mobile sets \n nokia1.0 and nokia 2.0")
print("both mobile sets cost:250000")
nokia1rating=500
nokia2rating=600
str1=str(input("enter your mobile set"))
if str=="nokia1.0":
  print("efficient product, good rating")
else:
  print("not efficient")

you have two mobile sets
 nokia1.0 and nokia 2.0
both mobile sets cost:250000
enter your mobile setnokia1.0
not efficient